[submodule "fairseq/model_parallel/megatron"]
    path = fairseq/model_parallel/megatron
    url = https://github.com/ngoyal2707/Megatron-LM
    branch = fairseq
[submodule "website/themes/docsy"]
	path = website/themes/docsy
	url = https://github.com/google/docsy
