################################
###### Core dependencies #######
################################
rouge-score
tqdm
openai==0.24.0
benepar
spacy
plotly
seaborn
torch
fairscale
fire
sentencepiece

# To run chatglm, make sure python>=3.9
icetk
cpm_kernels==1.0.11
torch>=1.13

datasets
loralib
sentencepiece
git+https://github.com/huggingface/transformers.git
accelerate
bitsandbytes
git+https://github.com/huggingface/peft.git
gradio
appdirs

fastapi

unbabel-comet>=1.0.0
git+https://github.com/google-research/bleurt.git
git+https://github.com/ns-moosavi/coval.git
git+https://github.com/hendrycks/math.git

rouge_score
fire
openai
transformers>=4.28.1
torch
sentencepiece
tokenizers>=0.13.3
wandb
accelerate
loralib
evaluate
datasets
anthropic
deepspeed

absl-py==1.2.0
dm-sonnet==2.0.0
imageio==2.20.0
librosa==0.7.2
matplotlib==3.5.2
mido==1.2.6
mir_eval==0.7
note-seq==0.0.3
numba==0.49.1
numpy==1.21.6
Pillow==10.0.1
pretty_midi==0.2.9
pygtrie==2.5.0
python-rtmidi==1.1.2
scikit-image==0.19.3
scipy==1.7.3
six==1.16.0
sk-video==1.1.10
sox==1.4.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-probability==0.17.0
tf_slim==1.1.0
wheel==0.37.1

# beam
apache-beam[gcp]==2.40.0


# onsets_frames_realtime
pyaudio==0.2.12
colorama==0.4.5
tflite==2.4.0

# test
pylint==2.14.5
pytest==7.1.2
