requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
websockets
js2py
quickjs
flask
flask-cors

################################
###### Core dependencies #######
################################
rouge-score
tqdm
numpy
openai==0.24.0
benepar
spacy
plotly
seaborn
